## Numpy Exersices : Zero to mastry Assignmet

In [2]:
import numpy as np

In [8]:
#1-d 
d1 = np.array([1,2,3])
d2 = np.array([[1,2,3],[1,2,3]])
d3 = np.array([[[1,2,3],[1,2,3]],[[1,2,3],[1,2,3]]])

In [16]:
d1, d2, d3

(array([1, 2, 3]),
 array([[1, 2, 3],
        [1, 2, 3]]),
 array([[[1, 2, 3],
         [1, 2, 3]],

        [[1, 2, 3],
         [1, 2, 3]]]))

In [18]:
d1.shape,  d2.shape, d3.shape

((3,), (2, 3), (2, 2, 3))

In [20]:
d1.size, d2.size, d3.size

(3, 6, 12)

In [22]:
d1.dtype, d2.dtype, d3.dtype

(dtype('int32'), dtype('int32'), dtype('int32'))

In [24]:
type(d1), type(d2), type(d3)

(numpy.ndarray, numpy.ndarray, numpy.ndarray)

In [26]:
import pandas as pd

In [30]:
df2 = pd.DataFrame(d2)
df2

   0  1  2
0  1  2  3
1  1  2  3

In [34]:
ones_ = np.ones((10,2))
ones_

array([[1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.]])

In [38]:
zeros = np.zeros((7,2,3))
zeros

array([[[0., 0., 0.],
        [0., 0., 0.]],

       [[0., 0., 0.],
        [0., 0., 0.]],

       [[0., 0., 0.],
        [0., 0., 0.]],

       [[0., 0., 0.],
        [0., 0., 0.]],

       [[0., 0., 0.],
        [0., 0., 0.]],

       [[0., 0., 0.],
        [0., 0., 0.]],

       [[0., 0., 0.],
        [0., 0., 0.]]])

In [42]:
ar1 = np.arange(0,100,3)
ar1

array([ 0,  3,  6,  9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48,
       51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99])

In [44]:
ar2 = np.random.randint(10, size=(7,2))
ar2

array([[1, 7],
       [2, 3],
       [6, 8],
       [4, 4],
       [2, 8],
       [5, 1],
       [6, 2]])

In [46]:
ar3 = np.random.random((3,5))
ar3

array([[0.03099528, 0.49052241, 0.69489074, 0.20952353, 0.98022721],
       [0.19839362, 0.50781952, 0.96327876, 0.43627101, 0.92480229],
       [0.46692182, 0.74106633, 0.71701102, 0.39147495, 0.82064381]])

In [54]:
np.random.seed(seed = 42)
ar4 = np.random.randint(10, size = (4,6))
ar4

array([[6, 3, 7, 4, 6, 9],
       [2, 6, 7, 4, 3, 7],
       [7, 2, 5, 4, 1, 7],
       [5, 1, 4, 0, 9, 5]])

In [56]:
np.unique(ar4)

array([0, 1, 2, 3, 4, 5, 6, 7, 9])

In [58]:
ar4[0]

array([6, 3, 7, 4, 6, 9])

In [60]:
ar4[:2]

array([[6, 3, 7, 4, 6, 9],
       [2, 6, 7, 4, 3, 7]])

In [62]:
ar4[:2, :2]

array([[6, 3],
       [2, 6]])

In [64]:
ar4**2

array([[36,  9, 49, 16, 36, 81],
       [ 4, 36, 49, 16,  9, 49],
       [49,  4, 25, 16,  1, 49],
       [25,  1, 16,  0, 81, 25]])

In [70]:
np.sqrt(ar4)

array([[2.44948974, 1.73205081, 2.64575131, 2.        , 2.44948974,
        3.        ],
       [1.41421356, 2.44948974, 2.64575131, 2.        , 1.73205081,
        2.64575131],
       [2.64575131, 1.41421356, 2.23606798, 2.        , 1.        ,
        2.64575131],
       [2.23606798, 1.        , 2.        , 0.        , 3.        ,
        2.23606798]])

In [72]:
ar4

array([[6, 3, 7, 4, 6, 9],
       [2, 6, 7, 4, 3, 7],
       [7, 2, 5, 4, 1, 7],
       [5, 1, 4, 0, 9, 5]])

In [76]:
np.square(ar4)

array([[36,  9, 49, 16, 36, 81],
       [ 4, 36, 49, 16,  9, 49],
       [49,  4, 25, 16,  1, 49],
       [25,  1, 16,  0, 81, 25]])

In [80]:
np.mean(ar4)

4.75

In [82]:
np.max(ar4)

9

In [84]:
np.min(ar4)

0